<ul id="recommend_list_left" class="recommend_list">
        <li>
            <a href="/novel/152" class="red" title="[推荐]昨天同学聚会还是不鸟我，可我刚赚了900万啊">[推荐]昨天同学聚会还是不鸟我，可我刚赚了900万啊</a>
        </li>
        <li>
            <a href="/novel/39">亲身经历：所谓蛊，所谓苗寨</a>
        </li>
        <li>
            <a href="/novel/search?keyword=dota" class="bold red">[Dota玩家必看]dota吧连载系列</a>
        </li>
        <li>
            <a href="/novel/5">[情感]对不起，小姨...(已完结)</a>
        </li>
        <li>
            <a href="/novel/search?keyword=%E6%B0%B4%E5%85%83%E7%B4%A0%E6%97%A5%E8%AE%B0" class="bold">[温馨搞笑]水元素日记系列</a>
        </li>
        <li>
            <a href="/novel/151">[好玩推荐]笑话精选贴</a>
        </li>
        <li>
            <a href="/novel/49">[游戏]山那边的领主</a>
        </li>
    </ul>
    
<ul id="recommend_list_right"  class="recommend_list">
    <li>
        <a href="/novel/206">她们都爱『弄湿』我的工作室</a>
    </li>
    <li>
        <a href="/novel/search?keyword=%E5%B0%8F%E6%9C%88%E6%9C%88">[重口味]小月月系列</a>
    </li>
    <li>
        <a href="/novel/27">[直播]我在DJ台的那些日子</a>
    </li>
    <li>
        <a href="/novel/23">[情感]留学新西兰.细数那些新西兰的妹子(多图)</a>
    </li>
    <li>
        <a href="/novel/113">[天涯经典]青囊尸衣</a>
    </li>
    <li>
        <a href="/novel/176">[强力推荐]黑客红尘</a>
    </li>
    <li>
        <a href="/novel/112" class="red">[搞笑]魔兽和玩魔兽的那些兄弟</a>
    </li>                
</ul>